[2019-09-25 01:38] russcam opened #1 "[DISCUSS] Fluent builder with Sender trait or fluent (closure) function"
The current implementation implements APIs as structs that follow [the consuming builder pattern](https://doc.rust-lang.org/1.0.0/style/ownership/builders.html#consuming-builders:), mutating `self` when functions are called to set values. For example,

[code]

Each _builder_ `struct` also implements the `Sender` trait, a terminal function for sending the actual request, which consumes (transfers o

[2019-09-25 01:47] russcam opened #2 "Map URL parts to builders"
Each API endpoint maps to one or more URL paths, where each path may contain placeholders for URL parts that should be replaced with values supplied by the user. For example, `_search` has the following paths in 7.3.1 Rest API spec

[code]

The builder for the `_search` API, `Search`,  should contain an `index` field that when set, results in the API call using the path specifying the index. It's

[2019-09-25 02:00] russcam opened #3 "Add body field to builders that accept a body"
For APIs that accept a request body, the _builder_ `struct` should expose a function for setting a body for the request. The input parameter should probably be a type that implements serde's [`Serialize` trait](https://docs.serde.rs/serde/ser/trait.Serialize.html), to allow a user to supply their own type for a request, or use serde's [`json!` macro](https://docs.serde.rs/serde_json/macro.json.htm

[2019-10-30 06:23] #3 closed, assigned to russcam

[2019-10-31 00:11] russcam opened #6 "[DISCUSS] Exposing request details on the response"
Should `ElasticsearchResponse` expose details of the request? If so, which ones?

- `HttpMethod`?
- The constructed `url`?
- The request body? If so, JSON string representation, bytes, `struct`, something else?

Does it make sense to expose these on `ElasticsearchResponse`, or should they be exposed through some other means e.g. event hooks? Some of the discussion around this would feed into a con

[2019-11-15 05:17] #2 closed, assigned to russcam

[2019-11-15 05:27] russcam opened #7 "[ENHANCEMENT] Implement Single Node Connection pool"
The client `send` function currently delegates to `Connection`'s `send` function

[code]

This is a seam to implement _connection pooling_.

A _connection pool_ is a pool of nodes that the client knows about, to which an API request can be sent. The simplest type of connection pool is a single node connection pool, that simply contains a single node.

The client should be updated to accept a `Conn

[2019-11-15 05:46] russcam opened #8 "[ENHANCEMENT] Model API Url part variants as enums"
Relates: #2

The Url parts within a API Url variants should be modelled as an enum. For example, for the search API

[code]

(_the `Vec<String>` would be reference such as `&[&str]`, but this can be addressed later_).

Modelling as enums prevents a user from being able to specify a URL part that can only be provided when another URL part is also specified. The parts enums can be generated from the

[2019-11-15 05:58] russcam opened #9 "[ENHANCEMENT] Non-generic API functions when API accepts GET and POST"
Some APIs allow sending a request either as a GET request or POST request. For those that allow sending as a GET request, a request body may not always need to be provided.

With the current implementation, an API that can send a POST request will model the inputs with a generic builder struct, where the generic type parameter is the body type. Take for example, `search`

[code]

With the current

[2019-11-15 06:05] russcam opened #10 "[ENHANCEMENT] async/await API functions"
Now that [async/await has landed in Rust stable](https://blog.rust-lang.org/2019/11/07/Async-await-stable.html), the `send` functions of builder structs should be updated to be asynchronous functions. This would probably necessitate removing the `Sender` trait as [`async` in traits is early days](https://rust-lang.github.io/async-book/07_workarounds/06_async_in_traits.html) and the trait probably

[2019-11-15 22:26] russcam opened #11 "[ENHANCEMENT] Update api_generator to v7.4.0+ REST API spec structure"
The api_generator crate has been written against the v7.3.1 REST API spec structure. This structure has changed in v7.4.0+ to group URL parts with paths, and to move deprecated paths into their own section. The api_generator crate should be updated to reflect these changes.

[2019-11-18 00:11] russcam opened #12 "[BUG] Url serialize Option<Vec<String>>"
Serde's `UrlEncodedSerializer<Target>` does not know how to serialize an `Option<Vec<String>>` with some value. This should be serialized as one value, where the vec values are joined by commas.

[2019-11-18 02:49] #12 closed, assigned to russcam

[2019-11-22 00:24] #8 closed, assigned to russcam

[2019-11-22 00:24] #11 closed, assigned to russcam

[2019-11-22 00:38] russcam opened #15 "[ENHANCEMENT] Implement Basic Authentication"
The client can currently connect to an Elasticsearch node at a single URI without any kind of authentication. The ability to provide Basic Authentication credentials to the client to use to connect to a URI should be implemented.

## Possible implementation

`ConnectionSettings` is intended to be the struct that collects all relevant details needed to establish a connection to Elasticsearch, so th

[2019-11-22 00:55] russcam opened #16 "[ENHANCEMENT] Ability to add HTTP headers to a request"
Every request made by the client should have the ability to allow a consumer to optionally specify additional HTTP headers to include in the request, for example, [`X-Opaque-Id`](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/tasks.html#_identifying_running_tasks).

### Possible implementation

Generated builder structs include a `HeaderMap` field, with an associated function that acc

[2019-11-22 01:18] russcam opened #17 "[DISCUSS] Builder associated functions accepting Option<T>"
Each builder struct models all fields as `Option<T>`. Fields include all query string parameters and the body of the request, if applicable. The associated functions to assign values to fields on the builder struct all accept `Option<T>` too. For example

[code]

This issue is to discuss whether the associated functions should accept `Option<T>` or simply `T` in each case. The above example would

[2019-11-22 04:03] #9 closed, assigned to russcam

[2019-11-22 05:36] russcam opened #19 "[ENHANCEMENT] Implement YAML test runner"
In a similar vein to other official clients, a YAML test runner should be implemented, to run the [YAML spec tests](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/test/README.asciidoc).

### Possible implementation

1. Create a `tests` directory in `elasticsearch` crate for integration tests
2. Use the [`yaml-rust` crate](https://crates.io/crate

[2019-11-26 06:45] russcam opened #20 "crossbeam-channel v0.3.9 fails to compile"
crossbeam-channel v0.3.9 fails to compile and fails with the following

[code]

It's related to `crossbeam_utils` 0.66 being compiled with a nightly feature that got changed. See https://github.com/crossbeam-rs/crossbeam/issues/435 for more details.

To address for now, force `crossbeam_utils` to use 0.65:

[code]

[2019-11-26 06:46] #20 closed, assigned to nobody

[2019-11-28 04:33] russcam opened #22 "[ENHANCEMENT] Builder fields and Parts enums accepting references"
Builder structs and their associated UrlParts enum accept all arguments as owned types. For example, for `CatCount` and `CatCountUrlParts`

[code]

Arguments that accept

- a collection string values accept `Vec<String>`
- a string value accept `String`

This forces a consumer of the client to create types when wanting to use the API

[code]

A more idiomatic way would be to allow a consumer to pa

[2019-11-28 23:16] #10 closed, assigned to russcam

[2019-11-29 01:12] #17 closed, assigned to nobody

[2019-11-29 01:47] russcam opened #24 "[ENHANCEMENT] Implement From<T> for UrlParts enums"
Each API models the API url parts as an enum, and where an API has more than one enum variant, the API function on the root/namespace client takes the enum as an argument. For example, for search

[code]

Currently, the Rust compiler cannot infer the enum type based on the parameter, meaning the complete enum path needs to be specified as above, instead of simply the following pseudo

[code]

To m

[2019-11-30 07:23] #22 closed, assigned to russcam

[2019-12-02 00:39] #15 closed, assigned to russcam

[2019-12-02 02:10] russcam opened #28 "[DISCUSS] Should 400-599 HTTP responses all be an Err result?"
All HTTP status code responses currently return `Ok(Response)` in `Result<Response, Error>`.

Should status codes 400-599 return `Err(Error)`?

[2019-12-03 06:23] russcam opened #31 "[ENHANCEMENT] Allow str, bytes and Serialize request bodies"
The current `body` associated fn on each builder struct expects a `T` that implements the `Serialize` trait. For example, for `Search`

[code]

The body `T` is then passed to reqwest's `json()` fn to serialize as JSON.

Both `String` and `Vec<u8>`, and their reference/slice counterparts have `Serialize` impls, but the resulting request body is _unexpected_/_not that useful_; For `String`, the body

[2019-12-05 04:00] #31 closed, assigned to russcam

[2019-12-05 04:05] russcam opened #33 "[DOCS] Document client, with examples"
[`rustdoc`](https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html) is a built-in tool that can help with generating documentation for a project.

An initial set of documentation should be created for the elasticsearch crate.

[2019-12-20 03:13] #16 closed, assigned to russcam

[2019-12-20 03:15] #7 closed, assigned to nobody

[2019-12-20 03:44] russcam opened #36 "[ENHANCEMENT] Pass reference to Elasticsearch instance"
Each builder struct currently takes ownership of `Elasticsearch`, with instantiation of a builder struct from the root or a namespace client accepting a clone of the `Elasticsearch` instance on which the associated function is called. For example, in the case of `search`

[code]

With an instance of `Elasticsearch` now instantiated with a `Transport` that has a `ConnectionPool` of `Connections` wi

[2019-12-20 07:32] russcam opened #37 "[ENHANCEMENT] Retry API calls"
All Elasticsearch clients are intended to retry API calls whose response is a 502, 503 or 504 HTTP status code when there is another node that the client knows about against which the request can be retried. The [.NET client documentation](https://www.elastic.co/guide/en/elasticsearch/client/net-api/current/fail-over.html) summarizes the behaviour well.

Retries should also be implemented for the

[2020-01-08 01:58] #36 closed, assigned to nobody

[2020-01-08 07:25] mwilliammyers commented on #28
I think it would be best to mirror reqwest and add an [`error_for_status`](https://docs.rs/reqwest/0.10.0/reqwest/struct.Response.html#method.error_for_status) method to get the best of both worlds.

[2020-01-08 18:28] mwilliammyers opened #39 "objekt renamed to dyn-clone"
I might be missing something but `objekt` does [not](https://crates.io/search?q=objekt) seem to be on crates.io?

[2020-01-08 18:32] mwilliammyers commented on #39
No idea how this happened but I was 100% sure it was not showing up via search. A space must have snuck in during copy/paste...

[2020-01-08 18:37] mwilliammyers commented on #39
Ok. I’m not crazy. It looks like it was renamed  to [dyn-clone](https://crates.io/crates/dyn-clone) so search wasn’t working unless you directly use the query param in the URL.

[2020-01-08 23:33] russcam commented on #39
Thanks for opening @mwilliammyers, looks like there's a PR open for it already 👍

[2020-01-09 07:25] #39 closed

[2020-01-09 07:59] mwilliammyers commented on #24
I was thinking the exact same thing when i was reading the docs.

Should we go a step further and have `search` accept an `Into<SearchUrlParts<'a>>`?

[2020-01-12 18:33] mwilliammyers opened #43 "[ENHANCEMENT] Add BulkBodyBuilder/BulkRequestBuilder?"
The current bulk API is a little raw/not very "Rusty". I understand that it matches the actual `bulk` REST API and that this library, in general, is meant to be a thin abstraction over the REST API.

That being said, is it within the scope of this library to add something like a [`BulkDocumentOperation`](https://docs.rs/elastic/0.21.0-pre.5/elastic/client/requests/bulk/struct.BulkDocumentOperation

[2020-01-12 18:49] mwilliammyers opened #44 "[ENHANCEMENT] Add pass through features for reqwest"
In an effort to reduce dependency duplication as `reqwest` is a very commonly used crate; it would be handy to have some features we can pass through to `reqwest`.

Some candidates are:
- `rustls-tls = ["reqwest/rustls-tls"]`
- `cookies = ["reqwest/cookies"]`
- `socks = ["reqwest/socks"]`

Do we need the `native-tls` feature specifically? It looks like it adds some more features vs. `default-tls`?

[2020-01-12 20:33] mwilliammyers opened #47 "[REFACTOR] Rename status_code to status?"
Should we rename `status_code` everywhere to `status` to match `reqwest`?

[2020-01-14 10:35] BearOve opened #48 "[BUG] There is no obvious way to support a reverse proxy"
**Describe the bug**
When running towards elasticsearch behind a reverse proxy where the url is something like `http://10.1.2.3/es/` I haven't found a way to use it. The reason for this appears to be the way `Url::join` works. When given a path that starts with `/` it removes everything after the domain and adds it to the root.

**To Reproduce**

[code]

**Expected behavior**
The url used should b

[2020-01-14 10:52] BearOve commented on #48
A work-around that works for my particular use-case right now is to add `es/` as a prefix to the index. I doubt this will cut it when I extend my usage though.

[2020-01-17 01:00] russcam commented on #28
This sounds like a good idea. I’ll have a chance to look at this next week when I’m back

[2020-01-22 03:03] russcam commented on #47
Thanks for opening the conversation, @mwilliammyers.

I intentionally named it `status_code` to differentiate it from any notion of a status that can be returned from Elasticsearch. For example, many responses return the status code in a `status` field on the response; I understand that a response body needs to be read to get to this, but I wanted to avoid any confusion between a status related to

[2020-01-22 03:03] russcam commented on #48
I've opened #50 to address

[2020-01-22 03:14] russcam commented on #44
Thanks for opening @mwilliammyers. I hope you don't mind, but I have some questions about pass through features, as I'm not that familiar with this convention. Is there a good resource where I can learn more?

Is it common to allow pass through features in this manner? What are the benefits in doing so?

These features aren't needed by the client; does it make sense to also make them pass through?

[2020-01-22 03:24] russcam commented on #43
I knew it'd only be a matter of time before request types came up 😄.

I'll open an issue to discuss request/response types more broadly, but I think for an extremely common API like bulk, it'd make sense to have something like `BulkDocumentOperation` to work with.

Perhaps a `BulkOperation` struct, similar to `BulkDocumentOperation`, that implements the `Body` trait, and can accept a type that imp

[2020-01-22 04:25] russcam commented on #24
👍 to this

As far as I am aware, I _think_ there are only a few APIs where the enum variant to construct from a passed tuple of values is ambiguous

- NodesInfoParts: https://github.com/elastic/elasticsearch-rs/blob/76d5c2ea3b59f2a9224b4f5344aa2fe39844b0a0/elasticsearch/src/generated/namespace_clients/nodes.rs#L214-L223
- NodesStatsParts: https://github.com/elastic/elasticsearch-rs/blob/76d5c2ea3b

[2020-01-22 04:30] mwilliammyers commented on #47
Ahhh makes sense. I agree 100% then.

[2020-01-22 04:52] mwilliammyers commented on #44
No problem!

They are mentioned briefly in the Cargo.toml manifest format [docs](https://doc.rust-lang.org/cargo/reference/manifest.html#the-features-section). There are some [here](https://github.com/elastic-rs/elastic/blob/1c9a8bb0fcc9c640dba601b5d526d72d25a259fc/src/elastic/Cargo.toml#L22) for elastic-rs/elastic.

The main benefit of using them allows the end user more control over the dependen

[2020-01-22 04:59] mwilliammyers commented on #43
I am glad I could be the first to bring them up 😄.

Yeah that was exactly what I was thinking.

[2020-01-22 06:37] russcam commented on #28
I've had a chance to dig into this a little more. There's a few things that are worth discussing, I think:

- For some APIs, one might consider status codes that imply an error to be a semantically valid response. Take for example
    - the [index exists API](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-exists.html); a 404 means the index does not exist. Should a 404 be c

[2020-01-22 06:56] russcam commented on #47
Cool cool. I'll close this issue 👍

[2020-01-22 06:56] #47 closed

[2020-01-22 07:23] russcam commented on #33
An initial set of documentation has been created and is deployed to [docs.rs](https://docs.rs/elasticsearch/). Closing this in favour of individual issues for specific documentation items.

[2020-01-22 07:23] #33 closed

[2020-01-22 07:37] mwilliammyers commented on #28
Hmmmm.

I see your point but part of me wants to just say “document it and let the user handle it”.

I could conceive of me wanting that to be an error that I can easily bubble up to the user, but other times I would want to handle it myself and `error_for_status_code` would give me that flexibility to decide _when_.

This is actually a rough spot for me when using the `elastic` crate. While it mi

[2020-01-22 08:01] #48 closed

[2020-01-24 07:39] russcam opened #54 "[INFRA] Setting up pull request CI"
Currently, there are a couple of basic checks in place for PRs:

1. CLA check
2. Clippy check

In line with other official client repositories, a Continuous Integration should be configured to:

1. run unit tests
2. run integration tests
3. check for dead links in documentation

on PRs.

[2020-01-24 17:35] mindbat commented on #54
*appears in a puff of smoke*

Did someone say [infra](https://clients-ci.elastic.co)?

[2020-01-27 23:56] russcam commented on #54
Yes @mindbat 😃 Clients typically use https://clients-ci.elastic.co/ for running the YAML spec tests (#19). I was thinking that GitHub actions might work better for the above?

[2020-01-28 00:09] mindbat commented on #54
I'm not as familiar with those, though I know the @elastic/infra-automation team has been experimenting with them.

But as far as running unit & integration tests, then posting results back on the PR, `clients-ci` should work fine for that :)

[2020-01-30 05:51] frenchtoastbeer opened #55 "[ENHANCEMENT] Enable passing a custom reqwest client to the TransportBuilder"
**Is your feature request related to a problem? Please describe.**
I wanted to disable certificate validation for testing, but realized that there is no TransportBuilder method which allows me to pass in a custom reqwest client.

**Describe the solution you'd like**
I'd like to first generate a client like so.
_(I made an edit to remove calling build on the reqwest client)_
[code]
and then pass it

[2020-01-30 06:08] russcam commented on #43
I've taken an initial go at this in #56.

One thing I'm undecided about is how to support heterogeneous source types across bulk operations. The common use case is bulk API calls where all the source types are homogeneous e.g. all bulk index operations where the source of each is the same type. It would be good however to support the less common use case with heterogeneous types.

I've added a uni

[2020-01-30 06:18] russcam commented on #55
Certificate validation (full, only CA, disable) is a feature that should be part of the client.

Rather than allowing a client to be passed to `TransportBuilder` though, I think it would be preferable to have functions on the transport builder to be able to set the "level" of certificate validation (perhaps an enum?). My reasoning here is that Reqwest's client builder may expose options on it (now

[2020-01-30 06:29] mwilliammyers commented on #43
Yeah its tricky, let me look back at the elastic crate...

Yeah there is definitely a theoretic performance hit but I think we would want to benchmark to prove it before we make things less ergonomic.

I need to look at this more—but why aren't we considering using an enum? I must be missing something 🙃

[2020-01-30 06:32] mwilliammyers commented on #43
By the way thanks for the PR! I am speaking at a conference in a few weeks, otherwise I would have taking a stab at it myself.

[2020-01-30 06:49] mwilliammyers commented on #54
I vote for GitHub actions 😄

It is really handy to have it built into the GitHub UI for open source projects...

[2020-01-30 07:32] russcam opened #57 "[ENHANCEMENT] Implement SniffingConnectionPool"
**Is your feature request related to a problem? Please describe.**
The client can work against an Elasticsearch cluster behind a single endpoint e.g. a single node cluster, a cluster behind a proxy/load balancer. It is also useful however to be able to seed a client with a collection of endpoints, where each endpoint connects to an Elasticsearch node. In doing so, it allows for future features suc

[2020-01-30 11:36] bryantbiggs commented on #54
Actions are great - there are some pretty good rust ones https://github.com/actions-rs?type=source if you haven't already come across those

[2020-01-30 15:58] frenchtoastbeer commented on #55
For my current problem, what you describe would work just fine.  Is that how it is handled by ES clients in other languages?

It's possible the client negotiates TLS with a reverse proxy, rather than the ES servers directly.  In that scenario, settings that would normally be breaking may become necessary.

The reason I thought passing a client might be preferable is that there are other settings t

[2020-02-07 06:57] russcam commented on #55
@frenchtoastbeer From what I know of other clients, they have _typically_ tended to encapsulate the language http library/client of choice and exposed only the relevant client behaviours.

You raise a good point; I haven't personally come across a user needing to be able to set these in other clients, but I will ask around. I think for now, adding functions to transport builder would be sufficient

[2020-02-17 09:57] Bealiah-dev opened #59 "[Question] Stable version of client"
Hi,

Do you plan to make a stable version of the client ?
I would prefere use your client in stable version if it possible.
If you don't plan to do it, maybe I'll considere using unstable rust then.

regards,

[2020-02-19 08:18] mwilliammyers commented on #59
Hey!

Thanks for your interest in the create!

Yeah we definitely [plan](https://github.com/elastic/elasticsearch-rs/blob/master/CONTRIBUTING.md#current-development-setup) to move to a stable version of the compiler once our dependencies (a git version of `smallvec`* is one of them that I know of) move to stable rust. We also currently use one small nightly feature—`external_doc`, used [here](http

[2020-02-19 23:45] russcam commented on #59
I'm going to close this issue as @mwilliammyers has answered it perfectly.

[2020-02-19 23:45] #59 closed

[2020-02-28 02:02] #55 closed

[2020-02-28 03:30] russcam commented on #44
Thanks for the links @mwilliammyers. Is there a way to specify that some dependency features are **required**, whilst some are optional based on being opted into through passthrough features? It's not clear to me reading the manifest format docs how this should be constructed.

For example, for the `reqwest` dependency, `gzip` and `json` features must always be required. In addition, I'd like to p

[2020-02-28 05:54] russcam opened #62 "[ENHANCEMENT] Bulk API helper functions"
The [bulk API](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html) can be used to index multiple documents into Elasticsearch by constructing a bulk request containing multiple documents, and executing against Elasticsearch. When the number of documents is large however, a consumer needs to construct multiple bulk requests, each containing a slice of the documents to be

[2020-02-28 06:33] russcam opened #63 "[ENHANCEMENT] Scroll API helper functions"
Similar to #62,  The [scroll API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-search-scroll) can be used to retrieve a large number of documents from Elasticsearch by issuing a search request with the `scroll` parameter, and using the `scroll_id` returned in a response to fetch the next batch of documents with a search request, continuing u

[2020-02-28 06:41] russcam opened #64 "[DOCS] Client example documentation"
Each official client has started to implement all of the console examples within the Elasticsearch reference documentation on the `master` branch, with the aim to port the examples to a future "current" branch once a high number of the doc examples are implemented.

An example of the client doc examples is [match query doc page](https://www.elastic.co/guide/en/elasticsearch/reference/master/query-

[2020-03-02 00:39] #28 closed

[2020-03-06 06:22] mwilliammyers commented on #44
Good question. Off the top of my head that looked correct but I wasn't 100% sure, so I used the above in a test project and it compiled just fine. When I run `cargo tree --features socks`, it adds in `tokio-socks` and its dependencies, so I think it is working as you would expect? 🤷‍♂

[2020-03-10 08:33] DevQps opened #66 "[DOCS] How to create a Mapping?"
**Please describe the documentation**
I was browsing the documentation and was unable to find some documentation on how to create a mapping using the API. Maybe it would be nice to provide an example on the `IndicesPutMapping` or `put_mapping` functions?

**Describe where the documentation should for**
A documented example should be added that shows how to create a mapping on an index.

[2020-03-10 15:37] DevQps opened #67 "[DOCS] How to use the Scroll API?"
**Please describe the documentation**
Currently the Scroll API does not provide any examples. It would be great if these could be provided, such that it would be easier to use for beginners.

**Describe where the documentation should for**
The `Scroll` struct should be documented with examples on how to use them.

[2020-03-11 00:38] #43 closed

[2020-03-11 02:36] russcam commented on #66
Hi @DevQps

A mapping can be created either [upon index creation](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/indices-create-index.html):

[code]

Or by [putting a mapping into an existing index](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/indices-put-mapping.html) (assuming the index does not have a mapping, or if it does, that any of the properties do not conflict

[2020-03-11 04:17] russcam commented on #67
Here's an example of how to use the scroll API

[code]

Similar to the reasoning in #66, #64 will generate rust examples for all the examples in the elastic.co reference documentation, so once these doc examples are implemented, I think we could look at weaving them into docs.rs, tackling the problem more generally.

[2020-03-11 04:27] russcam commented on #67
There are plans to wrap this functionality up into a scroll_helper in https://github.com/elastic/elasticsearch-rs/issues/63, that would also be able to slice a scroll, allowing for concurrent scrolling.

[2020-03-11 14:02] DevQps commented on #67
Thanks a lot for your response! I will try this example tomorrow again. Great to hear about #64 I think that will improve the docs a lot!

[2020-03-11 14:02] DevQps commented on #66
Thanks for your response!

[2020-03-13 02:26] #44 closed

[2020-03-13 02:41] russcam commented on #44
I've implemented `native-tls` and `rustls-tls` features in the client for now, passing through to reqwest's features and attributing in the elasticsearch source for code relying on these features.

I've been thinking about having pass-through features for the other features of reqwest, and it doesn't feel right to expose these in the client. On one hand, I can see how they could help with compilat

[2020-03-13 03:03] mwilliammyers commented on #44
Yeah, sounds good to me.

[2020-03-13 05:51] russcam commented on #55
@frenchtoastbeer I've added custom certificate validation to the client and released a v7.6.1-alpha.1 version with them. Check out the [`CertificateValidation` docs for details](https://docs.rs/elasticsearch/7.6.1-alpha.1/elasticsearch/cert/enum.CertificateValidation.html)

[2020-03-16 10:05] DevQps opened #70 "[BUG] error decoding response body: missing field `<field>` at line x column y"
**Describe the bug**
It seems that there are some problems with deserializing structs.

**To Reproduce*
1. I created an index and pushed my structs using the following code:
[code]
2. I can verify in Kibana that the entities are correctly created.
3. When I try to retrieve them using the following code:
[code]
I receive the error `error decoding response body: missing field `<field>` at line x col

[2020-03-16 10:07] DevQps commented on #70
I really enjoy the API so far btw! Thanks a lot for putting so much effort into it! It saved me a lot of time and effort :)

[2020-03-16 10:41] russcam commented on #70
Thanks 😄

In step 3,

[code]

do you specify a type to deserialize into? Something like

[code]

I think this would fail with `MyStruct` if a `_source` did not have values for_all_ of `a`,`b`,`c` and `d` fields, because they're all non-optional. Would you want [default values in these cases](https://serde.rs/attr-default.html)?

If it's just the `_source` that you're interested in, the source API

[2020-03-16 13:54] DevQps commented on #70
Thanks for your reply!:

I use `Self` as the return type (I implemented it via a trait), so the `Self` type in this case is `MyStruct`

The complete function is as follows:

[code]
The code listed above works correctly. However if I change the last part to:
[code]
I get errors that the first property of the struct is not present, while I am sure that the data is there (can be viewed in Kibana as w

[2020-03-16 23:25] russcam commented on #70
The following two calls are not the same

[code]

and

[code]

In the former, the entire response body is deserialized to `Value` and then `MyStruct` is deserialized from the `Value` at the property `"_source"`, whereas the latter tries to deserialize the entire response body to `MyStruct`. The former is correct and the latter is not correct as [a response to the GET API](https://www.elastic.co/gu

[2020-03-17 05:44] russcam opened #71 "[ENHANCEMENT] Default Cat APIs to accept text/plain header"
**Is your feature request related to a problem? Please describe.**
In implementing the yaml test runner in #19, there is a need to be able to return the response as a plain text string, to make assertions against.

**Describe the solution you'd like**
All Cat APIs should set `text/plain` accept and content-type headers by default, with the ability to read the response as plain text

[2020-03-19 05:43] #71 closed

[2020-03-19 05:48] russcam opened #74 "[BREAKING] Rename read_body and read_body_as_text"
With the introduction of `read_body_as_text` in #72 for handling plain text responses for the cat APIs, the naming of these functions is somewhat wieldy.

This issue is a proposal to rename these functions

- `read_body` would become `json`
- `read_body_as_text` would become `text`

[2020-03-19 07:01] #66 closed

[2020-03-19 07:01] #67 closed

[2020-03-19 09:30] DevQps commented on #70
Ahhh that makes everything clear! I was under the impression the `read_body` would automatically use the _source value to deserialize the struct. Thanks for this explanation! I will close this issue now since it was simply a misunderstanding.

[2020-03-19 09:30] #70 closed

[2020-03-19 22:37] russcam commented on #70
No worries @DevQps! Just a heads up, looking to rename `read_body()` in #74 to just `json()`

[2020-03-27 02:29] Veetaha opened #75 "[ENHANCEMENT] Type safety"
**Is your feature request related to a problem? Please describe.**
For some time I was using the `TypeScript` client for `Elasticsearch`. The major source of bugs and inconvenience is that the exposed client API is mostly untyped. When moving to `Rust` I was hoping that the strong statically-typed nature of the language will enforce creating a strictly-typed client in it. But as I see the client m

[2020-03-27 19:01] mwilliammyers commented on #75
I would love to see a more strongly typed API layer on top of the one currently exposed. I am not convinced that I would want it to be the *only* API exposed though.

Something that we were trying to integrate in the `elastic` crate (which has now been effectively replaced by this crate, which is awesome :)) was a query/search builder API—something like [this](https://github.com/elastic-rs/elastic

[2020-03-27 22:37] Veetaha commented on #75
@mwilliammyers

Yeah, the query builder part is, in fact, the most complicated one. It requires quite some clever design thinking in order to make it convenient in simple cases, but also powerful enough to support dynamicity. Maybe it's possible that we can study from `diesel-rs` experience in this sphere (see a [nice talk about its type system utilization](https://www.youtube.com/watch?time_conti

[2020-03-28 17:44] Jasperav opened #77 "How to create a request that overwrites older values?"
The only method that uses Method::Put is 'PutScript', but I don't think that is what I am looking for. I have a Rust struct that looks something like this:

[code]

I want to insert it into my 'user' index in ElasticSearch (to eventually search them by username). This is what I tried:

[code]

When I manually provide JSON to the body of 'update' (by doing json!(...)), I get the error 409 when exec

[2020-03-29 13:10] Jasperav opened #79 "Best practice for converting search results to Rust structs?"
When using the search api, the queried objects are in an array inside "hits" and another "hits". Furthermore, the actual objects are again nested inside a "_source" object. So to extract the data from a search, I have this code:

    let value = response.read_body::<Value>().unwrap();

    let mut hits = value["hits"]["hits"]
        .as_array()
        .unwrap()
        .clone();

    if hits.is_

[2020-03-31 01:18] russcam commented on #77
I'm not sure why `update.body` is `None`. All request struct builders use a consuming builder pattern (take `mut self`), so fluent calls need to assign to the let binding of the struct you're mutating. This would be fine in the example given above as far as I can see, but not sure if this is a simplified example.

The [`index` API](https://www.elastic.co/guide/en/elasticsearch/reference/current/do

[2020-03-31 01:24] russcam commented on #79
The example you show is the way I would recommend for now.

What would be really useful here is a `SearchResponse<T>` struct that the response from the search API is deserialized into. This is something that we would like to provide eventually, but it is a sizeable undertaking, more so for more complex responses like search! I'm going to close this issue in order to discuss on #75 as it is related

[2020-03-31 01:24] #79 closed

[2020-03-31 01:28] russcam commented on #75
Thanks for opening, @Veetaha. Just wanted to drop a quick note to say that I've read the issue; It warrants a much longer answer than I can provide at this moment, but I am looking to respond later this week.

[2020-03-31 16:08] njam opened #80 "[DOCS] Document that the 'tokio' runtime is required"
**Please describe the documentation**

I understand this crate requires the [tokio](https://docs.rs/tokio) runtime. It would be nice to note that somewhere in the readme.

**Describe where the documentation should for**

In the readme's "getting started" section: https://github.com/elastic/elasticsearch-rs#getting-started

**Additional context**
I tried using this crate with the [std-async](https:

[2020-04-01 00:23] russcam commented on #80
Hey @njam, thanks for opening. The `reqwest` HTTP client that this library uses makes use of the tokio runtime, so will add a note to indicate

[2020-04-01 04:44] #80 closed

[2020-04-01 07:38] russcam opened #83 "[ENHANCEMENT] Ability to set global HTTP headers"
**Is your feature request related to a problem? Please describe.**
The client exposes the ability to set HTTP headers per request, it should also expose
the ability to set global headers that are sent with every request.

**Describe the solution you'd like**
`TransportBuilder` should expose a function to add default HTTP headers to the underlying reqwest client

[2020-04-03 01:32] #74 closed

[2020-04-03 01:35] #83 closed

[2020-04-03 19:14] xrl opened #86 "[BUG] Scroll API fails when query hits too many shards"
**Describe the bug**

The size of the scroll_id token is proportional to the number of shards hit by the query.

We found info on scroll_id's generating large strings https://github.com/elastic/elasticsearch-py/issues/971 . And looking over the Scroll code in rust, it always puts the scroll_id in to a GET request and in to the query params. So large queries will cause the Elasticsearch cluster's t

[2020-04-06 01:33] russcam commented on #86
Hi @xrl

`Scroll` will use a GET request if there is no request body, a POST otherwise

https://github.com/elastic/elasticsearch-rs/blob/1e619d82b1d70c068ff9cabdd86bfbda04e1e500/elasticsearch/src/generated/root.rs#L5893-L5899

This is generated from [the REST API spec `scroll.json`](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/scroll.json)

[2020-04-06 01:33] #86 closed

[2020-04-07 04:52] russcam commented on #77
I'm going to close this issue as I believe I've answered your question. @Jasperav 👍

[2020-04-07 04:52] #77 closed

[2020-04-07 09:01] Jasperav commented on #77
O darn I thought I already left a message! Your example worked, thank you very much :). This issue can indeed be closed.

[2020-04-07 15:56] lucca-fraser opened #87 "[DISCUSS] Currently requires nightly release of rustc due to external_doc"
This crate appears to require the nightly release of rustc, solely due to its use of the external_doc feature. It would be convenient if the crate were buildable with the stable release. Is there any way to avoid the use of this feature for the time being?

[2020-04-07 23:29] mwilliammyers commented on #87
Valid question :)

The plan is to move off of nightly, but in addition to that usage, there are at least a few (indirect) dependencies that rely on nightly, see [this comment](https://github.com/elastic/elasticsearch-rs/issues/59#issuecomment-588092730).

[2020-04-08 01:45] russcam commented on #87
I've opened https://github.com/elastic/elasticsearch-rs/pull/89 to address. With a `build.rs` script to detect rustc version and some `cfg_attr`, elasticsearch can work with rust stable whilst still also allowing README to be tested with `external_doc` feature with

[code]

api_generator still needs rust nightly, but this isn't an impediment as it's not a published package.

[2020-04-08 21:43] #87 closed

[2020-04-13 16:05] srikwit opened #90 "[BUG] Failure in certificate validation"
**Describe the bug**
Four tests related to certificate validation fail.

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo test`

**Expected behavior**
test result ok. 7 passed.

**Environment (please complete the following information):**
 - Debian GNU/Linux 10 (buster)
 - rustc 1.42.0 (b8cedc004 2020-03-09)

**Additional context**
Add any other context about the problem here.
[code]

[2020-04-14 06:22] russcam commented on #90
Thanks for opening @srikwit. Are you running the tests against an instance of Elasticsearch that is configured to use the `testnode_san.crt` and `testnode_san.key` in `.ci/certs` ?

[2020-04-14 07:59] srikwit commented on #90
No, I was running it against my own instance which might not be configured with these certs. Kindly allow me to reconfigure my environment before re-testing the test cases.

[2020-04-14 08:02] russcam commented on #90
No problem, please do.

Need to write some notes in `contributing.md` about the tests 😃

[2020-04-16 20:53] srikwit commented on #90
Hi @russcam , I ran the tests using `./.ci/run-tests` and it resulted in the following error message:
[code]
Kindly let me know what debugging information you would need.

[2020-04-17 22:18] russcam commented on #1
I’m going to close this issue for now; we’ve settled on the fluent builder approach.

[2020-04-17 22:18] #1 closed

[2020-04-20 01:13] russcam commented on #90
My apologies @srikwit - I made changes to the PowerShell ci scripts and Dockerfile, but did not reflect those changes in the shell scripts. I've now updated them.

If you want to test from local and spin up an Elasticsearch instance with the shell script, you can do

[code]

You can also use the run-tests script too (_need to ensure elasticsearch docker instance isn't already running_)

[code]

ru

[2020-04-20 05:14] srikwit commented on #90
No problem @russcam. I will retest it and let you know the difference by today evening.

[2020-04-20 15:44] srikwit commented on #90
Hi @russcam,
I am still getting errors in the certificate tests as follows:

------------------------------------------------------
running 7 tests
test certificate_certificate_ca_validation ... FAILED
test full_certificate_ca_validation ... FAILED
test none_certificate_validation ... FAILED
test fail_certificate_certificate_validation ... FAILED
test default_certificate_validation ... FAILED
test

[2020-04-20 20:55] russcam commented on #90
The issue is likely that `ES_TEST_SERVER` is set to `"http://localhost:9200/"` **but it should be set to `"https://localhost:9200"`** since the script configures TLS when using the default distribution, and tests need to run against a HTTPS endpoint in order to test certificate validation

[2020-04-22 21:59] srikwit commented on #90
@russcam it works now. Thanks for fixing the issue.

[2020-04-22 21:59] #90 closed

[2020-04-28 00:53] andrewbanchich commented on #75
I was actually just thinking about this and am considering working on an Elasticsearch equivalent of `sqlx`'s [query! macro](https://docs.rs/sqlx/0.3.4/sqlx/macro.query.html), where it could be used like:

[code]
but would also type check against your cluster's mappings using a `ES_HOST` env variable at compile time.

[2020-05-03 14:24] GopherJ opened #93 "[BUG] BulkParts is not convinient"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I'm not able to return back `BulkParts` from a function.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Make it possible to return back a `BulkParts` from a function

**Describe alternatives you

[2020-05-03 15:18] GopherJ commented on #93
It'll even cause problem when we would like to bring `BulkParts` into `async move {}`, I'm not sure about the advantage over `String`...

[2020-05-05 04:19] russcam commented on #75
Here's the longer answer 😃

We would like to eventually provide types for request and responses, but don't have a definitive timeline mapped out for it right now. This issue can serve as the basis for coordinating thoughts and actions around the topic.

I genuinely appreciate that a lack of request and response types make the client more onerous to work with. There is much complexity involved in b

[2020-05-07 05:45] russcam commented on #93
thanks for opening @GopherJ. I need to have a think about this some more, but `String` or `Into<String>` would probably make parts easier to work with.

By the way, for the index operation, you can leave the `"_id"` blank if you don't care about the value assigned. Elasticsearch will generate an id for you in this scenario and indexing will be faster, because Elasticsearch no longer needs to check

[2020-05-07 11:11] GopherJ commented on #93
@russcam

cool I 'll adjust my code thanks for the info.

yes I think maybe we need to pay attention to the usage of `&'a str`, if we will always write them manually I think it's ok but If we would like to create it through function it'll be hard because we will borrow a thing dropped after the function call.

But in my case finally I didn't return `BulkParts` from a function and I just return a `

[2020-05-07 11:48] russcam commented on #93
Sorry, meant to say you can omit the "_id" field altogether :)

My thinking with the parts enums is that typically they would be constructed immediately next to or as part of the API call. Would like to have a think about it further

[2020-05-14 04:55] russcam commented on #6
Opened #96 for details that have proved useful whilst working on the yaml test runner.

[2020-05-14 05:00] #6 closed

[2020-05-17 20:10] asevans48 opened #97 "APM Client"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
The availability of an Elastic APM client

**Describe alternatives you've considered**
Using Vector logging and creating dashboards but these lack support for APM features.

[2020-05-23 12:10] GopherJ opened #99 "[ENHANCEMENT] deserialize to specific Hit type?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-25 02:13] russcam commented on #99
This is related to #75 and  #79.

The current way that I would recommend doing this is

[code]

[2020-05-25 02:13] #99 closed

[2020-05-25 02:28] russcam commented on #97
Thanks for opening @asevans48. Do you have thoughts about how you could see a Rust APM agent working? Such a project, if it were to exist, would likely be in a separate repository, much like the other agents. (cc @elastic/apm).

An APM agent in rust would be interesting, I think. Perhaps an Elastic APM compatible [tokio tracing](https://github.com/tokio-rs/tracing) interop package, much like [trac

[2020-05-27 14:23] reyk opened #100 "[BUG] CA chains are not supported with native-tls"
**Describe the bug**
Using a CA pem cert `CertificateValidation::Full` only supports a single certificate and breaks with CAs that require an intermediate CA.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an intermediate CA
2. cat the root CA and the intermediate CA into one PEM file
3. Create a server cert for this CA
4. Try to connect an `elasticsearch` client to it

**Expected be

[2020-05-28 06:00] russcam commented on #100
Thanks for opening @reyk. What OS are you running?

There seem to be differences in how native-tls works (or maybe more accurately how schannel and openssl is configured) across Windows, macOS and Linux (Ubuntu) which are captured in [cert.rs](https://github.com/elastic/elasticsearch-rs/blob/6bacb1d6c9fa1a4816b5c1da29327bfcd68cc2f4/elasticsearch/tests/cert.rs).

[It looks like reqwest creates a cu

[2020-05-28 08:24] reyk commented on #100
I‘m using native-tls with OpenSSL (or LibreSSL) under Linux and OpenBSD.

It currently doesn’t split the CA bundle and just loads a single cert from it. Maybe this could eventually fix it one day: https://github.com/sfackler/rust-native-tls/pull/168/

You can also call reqwest’s add_root_certificate() multiple times as it pushes each new cert to a Vec internally. I’m using a workaround of `Certifi

[2020-05-28 08:51] russcam commented on #100
That looks promising, thanks for the link!

In the meantime though, I don't see harm in splitting a PEM formatted file and calling `add_root_certificate()` multiple times internally when native-tls feature is used. Is this something you'd be interested in contributing, @reyk? If not, it'd probably be later next week that I can get round to looking at it.

[2020-05-28 09:03] reyk commented on #100
The problem is that you currently embed a single reqwest Certificate in the CertificateValidation. We could fix that by turning it into a Vec as described or by turning it into a newtype. Would you be interested in a change that breaks the current API or should it be done with a new, additional variant?

[2020-05-28 09:16] russcam commented on #100
ah, yes. Hmm.

I'm fine with breaking the API at this stage as it's still an alpha release. I'm thinking that we should introduce our own type that accepts `&[u8]` in either PEM or DER format and handle splitting PEM inside of that, internally holding a `Vec<Certificate>`. I think it's fairly trivial for the library to take care of this and not force users to have to do the splitting themselves. W

[2020-05-28 14:11] reyk commented on #100
See PR #101

[2020-05-28 23:08] #100 closed

[2020-05-28 23:45] #19 closed

[2020-05-29 08:00] ronjakoi opened #102 "[BUG] no method named `and_then` found for struct `elastic::client::requests::document_index::Pending`"
**Describe the bug**
[The documentation](https://docs.rs/elastic/0.21.0-pre.5/elastic/client/type.AsyncClient.html) describes using the `.and_then()` method for getting a response object from Elastic, but this method doesn't seem to work as described.

Error message:

[code]

**To Reproduce**
[code]

**Expected behavior**
The `.and_then()` method should be available as documented.

**Environment (

[2020-05-29 08:26] russcam commented on #102
Hi @ronjakoi, you have the wrong repository; I think you want [elastic-rs/elastic](https://github.com/elastic-rs/elastic)

[2020-05-29 19:29] mwilliammyers commented on #75
I wonder if it would make sense to just add some types from `elastic/elastic-rs` for now, e.g.:
- https://github.com/elastic-rs/elastic/tree/master/src/elastic/src/types
- https://github.com/elastic-rs/elastic/tree/master/src/queries

and users can *optionally* use them?

We could also just pull those types into a separate repo/crate and iterate on them there.

In the end though, I think it would

[2020-05-29 20:03] Veetaha commented on #75
Totally agree with mwilliammyers, adding at least some basic response types would be very helpful to prevent users [manually writing them :sweat_smile:](https://github.com/Veetaha/vee-news-analyzer/blob/master/crates/vna_es_utils/src/es_types.rs). They [try to do the same thing](https://github.com/elastic/elasticsearch-js/pull/970) at TypeScript client repo.

[2020-05-29 23:35] russcam commented on #102
Thanks @mwilliammyers for opening an issue in elastic-rs/elastic. I'm going to close this one.

[2020-05-29 23:35] #102 closed

[2020-06-03 23:29] russcam commented on #75
Being able to generate them would be the ultimate goal that we should aim to get to. [There is effort going in to this](https://github.com/elastic/elastic-client-generator), which I think might be a good starting point for generation, once the generator project is in a good position.

As far as I am aware, these are manually created. These could be another artifact generated from the generator pro

[2020-06-04 07:33] mwilliammyers commented on #75
If the community would benefit from it, I can open source the code my company uses for queries, aggregations and request/response types. It is fairly complete but a good portion of it is slightly different from the exact structure from Elasticsearch to suit our needs/we use graphql. Mostly it shows up in aggregation responses and the search DSL where instead of

[code]

[code]

[2020-06-10 02:04] mwilliammyers commented on #75
I am working on https://github.com/mwilliammyers/elastiql ... some of it is a little bespoke but it should be pretty handy. It is fairly well fleshed out, but still missing some things and is a little rough around the edges...

[2020-06-19 22:39] mwilliammyers opened #111 "default-tls reqwest feature necessary?"
I spent a bit of time figuring out why my static musl binary required `openssl` even though all of my dependencies that use `reqwest` use the `rustls-tls` feature and disabled the default feature.

I think I traced it to `elasticsearch` adding the `default-tls` feature, which brings in `hyper-tls`, which brings in `native-tls`, which depends on `openssl` (on linux) :/

*TL;DR*: Do we need the `def

[2020-06-23 03:05] russcam commented on #111
The TLS configuration of the client followed the TLS configuration of reqwest, but it looks like this changed in https://github.com/seanmonstar/reqwest/pull/749.

Looking at https://github.com/seanmonstar/reqwest/blame/71386d8734f7904e48e4b3238f918eaecdabe7f3/Cargo.toml#L30, it looks like reqwest's `default-tls` brings in `hyper-tls`, so if `default-tls` were removed from `elasticsearch`, reqwest'

[2020-06-23 03:33] mwilliammyers commented on #111
Yep, I think you are correct, we should change it to:

[code]

I can open a PR to do that tomorrow...

[2020-06-23 08:45] GopherJ opened #112 "[Enhancement] better error handling"
**Describe the bug**
A clear and concise description of what the bug is.

bulk request if failling silently, curl works but bulk request fails and gave nothing

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment

[2020-06-23 08:52] russcam commented on #112
There's not enough information provided to be begin looking at this.

@GopherJ, please can you add a small reproducible example that clearly demonstrates the issue you're seeing? Please also provide details about the Elasticsearch cluster you're running against.

[2020-06-23 09:28] GopherJ commented on #112
@russcam Yes I'm trying to do so. Actually we had a problem on production, we are using elasticsearch 7.7.1, and elasticsearch client 7.7 alpha.

The problem is, our application on production server fails silently but on local all the things work.

I'm stilly trying to reproduce and understand the problem

[2020-06-23 09:43] GopherJ commented on #112
@russcam Hi, finally I tracked down the error, could you see if you can help.

This error hasn't been reported when I use `elasticsearch::bulk` but once switch to `elasticsearch::index` it shows up.

[code]

[2020-06-23 10:00] GopherJ commented on #112
@russcam Hi, please check: https://github.com/elastic/elasticsearch/issues/58398#issuecomment-648040065

Do you have any idea on it? Have I made an error in my mappings?

[2020-06-24 09:25] GopherJ opened #113 "[ENHANCEMENT] Debug implementation is missing for Response"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. Windows 10 Pro]
 - rustc ve

[2020-06-24 09:25] GopherJ commented on #113
It makes hard to debug

[2020-06-24 23:03] russcam commented on #113
@GopherJ please can you take the time to fill the issue details in properly, thanks.

I don't think this should be labelled as a bug; it would be a useful enhancement to implement. What would you expect to see in a `Debug` implementation?

[2020-06-24 23:09] russcam commented on #112
@GopherJ with a bulk request, you need to check the response body to understand if there have been any errors. The HTTP status code of the response does not signal if any of the bulk operations have failed and relates only to the overall bulk request. [The `errors` property on the top level object](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-api-response-bod

[2020-06-29 08:41] GopherJ commented on #112
@russcam How can I have better error reporting, this error still happens on our production server. We have two servers:

- production
- pre-production

They have the same version of elasticsearch(v7.7.1) and same commit hash of software.

The last week when this error happens on production server, we have spent four days to debug but still nothing found. It just cannot save some type of data.

The

[2020-06-29 08:48] GopherJ commented on #112
Our mappings:

[code]

Our script to PUT mapping:
[code]

And the data we sent to elasticsearch:

1. first type

[code]

[2020-06-29 23:21] russcam commented on #112
@GopherJ It would probably be better to [ask this question on the discuss forums to begin](https://discuss.elastic.co/c/elastic-stack/elasticsearch); more people visit and answer questions on the forum than this repository and it doesn't look to be a bug with the client at this stage.

A HTTP 400 response indicates a problem with what is being sent to the server. The body of the response will cont

[2020-06-30 07:02] GopherJ commented on #112
hi @russcam sorry it's a typo there.  We discovered finally it's because geo_point has been too big due to settings problem on UI side.

 However I do think elastic-rs should have better error handling. With the above message，it's really hard to understand the problem.

[2020-07-07 10:00] petar-dambovaliev opened #116 "[ENHANCEMENT] timeout"
**Is your feature request related to a problem? Please describe.**
You can't pass a timeout on this client

**Describe the solution you'd like**
Pass a timeout to the client

**Describe alternatives you've considered**
Pass a timeout to the client

**Additional context**
Build a client + Transport with a timeout passed by the user

[2020-07-13 11:45] russcam commented on #111
Closing as #115 is merged

[2020-07-13 11:45] #111 closed

[2020-07-13 11:58] russcam commented on #116
This would be a great feature to add, and would bring the client in line with other official clients. It should be possible to add a default timeout when building a transport, and be able to provide a timeout for individual requests. For individual requests, the api_generator would be updated to add a `timeout` function for all generated builder structs, similar to `header` function

https://githu

[2020-07-13 12:51] petar-dambovaliev commented on #116
@russcam sure, i can give it a go.

[2020-07-15 01:17] #113 closed

[2020-07-16 01:52] russcam commented on #24
Started looking at this in [enhancement/24](https://github.com/elastic/elasticsearch-rs/tree/enhancement/24) branch.

[2020-07-16 09:52] russcam commented on #116
Awesome, @petar-dambovaliev! Happy to provide input or be a sounding board

[2020-07-30 03:35] #112 closed

[2020-08-10 06:50] russcam commented on #116
@petar-dambovaliev I was considering taking a look at this shortly. Did you still have plans to take a look at it, if not, mind if I take it on?

[2020-08-17 05:11] russcam commented on #116
I've opened #132 to address

[2020-08-18 02:00] #116 closed

[2020-09-06 05:44] rimutaka opened #137 "AWS request signing support"
AWS runs its own distribution of ES called ElasticSearch Service, which is mostly compatible with this library, except for the missing request signing feature. It makes impossible to use this library with IAM-based access control.

I totally understand **your unwillingness to support their distro** as stated in https://discuss.elastic.co/t/any-way-to-sign-requests-to-aws-elasticsearch-using-asp-ne

[2020-09-07 09:01] treykasada commented on #137
Just hit this as well. Would love to see some support here.

A possible approach could be to redefine `Transport` as a trait, allowing developers to specify their own implementation for the `send` method. It should then be possible to create a simple wrapper over one of the builtin transports that could leverage something like `rusoto_signature` to do the signing.

[2020-09-09 04:06] russcam commented on #137
Thanks for opening @rimutaka.

Whilst the client won't ship with AWS request signing as part of the package, its architecture should make it possible for a user to extend the client to support this.

Genuine question- Have you considered [using Elastic Cloud instead of AWS Elasticsearch](https://www.elastic.co/aws-elasticsearch-service)? It's _super easy_ to spin up a cluster [on Elasticsearch ser

[2020-09-09 04:18] rimutaka commented on #137
I agree that `async-trait` is probably an overkill just for this narrow use case. An optional signing function is an easier solution. The signing code doesn't need to be part of this crate. It can come from `rusoto-signature` and be added as an example.

[2020-09-09 04:26] treykasada commented on #137
@russcam If it helps, `rusoto` makes fairly liberal use of that crate, so it some semblance of precedent there.

To me, this kind of functionality seems almost exactly like what `Transport` is conceptually for (in terms of where it sits in the architecture), but honestly, either approach would work. 🙂

[2020-09-12 21:23] srleyva commented on #57
I’ve been implementing this locally over the elasticsearch vended primitives. Still a little newer to rust but mind if I take a shot at this issue?

[2020-09-14 05:33] russcam commented on #57
@srleyva please do! Please also reach out if you would like input on implementation considerations.

[2020-09-14 06:47] srleyva commented on #57
Similar to the .Net client, I’ve implemented a static node list connection pool as a building block. I’ve noticed a common pattern of building on top of this and refreshing the connections. Lmk if this is sound! 😀

[2020-09-15 08:30] GopherJ opened #140 "[ENHANCEMENT] strong typed Response."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when there  elasticsearch-rs is not strongly typed, I cannot deserialize my response to some kind of type.

elastic-rs has elastic-types if I rememembered correctly, cannot we port them here? Not strongly typed makes elasticsearch-rs not too many adva

[2020-09-15 08:32] GopherJ commented on #140
https://docs.rs/elastic_types/0.21.0-pre.4/elastic_types/

[2020-09-15 08:35] GopherJ commented on #140
https://github.com/elastic-rs/elastic/blob/312eeb22b6ad60072a80680fbec27f466cdcb9b3/src/elastic/src/client/responses/search.rs#L78-L91

is more urgent I think, can we have it in elastic-rs?

[2020-09-15 08:37] GopherJ commented on #140
A thing like https://docs.rs/elasticsearch/7.9.0-alpha.1/elasticsearch/http/response/struct.Response.html isn't really useful

[2020-09-15 08:43] GopherJ commented on #140
@russcam Any idea on this?

[2020-09-15 08:52] russcam commented on #140
@GopherJ there is already an issue open to discuss request and response types: #75. Please have a read of the other issue and discuss there. Thanks!.

[2020-09-15 08:52] #140 closed

[2020-09-15 09:59] GopherJ commented on #75
<details>
	<summary>BulkResponse</summary>
	<pre>
use serde::{Deserialize, Serialize};

#[derive(Debug, Serialize, Deserialize)]
pub struct BulkResponse {
    took: i32,
    errors: bool,
    items: Vec<Item>,
}

impl BulkResponse {
    pub fn succeeded_items(&self) -> impl Iterator<Item = &Item> {
        self.items.iter().filter(|x| x.success())
    }
}

#[derive(Debug, Serialize, Deserialize)]

[2020-09-20 10:34] GopherJ commented on #75
Hi, I think we shouldn't mix `QueryBuilder` with `strongly typed Response`, query builder is a much larger topic and in many cases it's not so useful. For example when the query is created dynamically on client side using UI.

However, `strongly typed Response` is pretty necessary or even we can say a must for most of the users, it's pretty important for `elasticsearch-rs`.

[2020-09-20 10:35] GopherJ commented on #140
@russcam Hi, I think query builder & strongly typed response are two different things, can this be re-opened?

[2020-09-20 20:28] mwilliammyers commented on #75
I agree, the repo I posted also has a [strongly typed response](https://github.com/voxjar/elastiql/blob/master/src/search/response.rs). I think something very similar to that should be added to this crate, before tackling a `QueryBuilder`.

[2020-09-21 01:44] russcam commented on #75
There are many queries that cannot be expressed simply from the client side, where an ability to build a query is crucial for a great developer experience.

I completely understand the need for request/response types, but I'm very keen to avoid manually writing them. Not only is it a large amount of effort to write and maintain them, but there's a chance that a manually written type would have a d

[2020-09-23 10:17] russcam commented on #54
Clients CI environment now runs all yaml tests for a PR, but I think it would be useful to run all the tests in the elasticsearch create

[2020-09-29 09:54] GopherJ opened #148 "[ENHANCEMENT] ignore statuscode option"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when status code cannot be ignored:

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2020-10-02 06:40] jubyvictor commented on #64
I can take this up if its ok to do so, I'm new to Rust, but have been using ES from 0.9.

[2020-10-06 00:42] oeed opened #149 "[ENHANCEMENT] Provide non-array based SearchParts for searching single a index"
**Is your feature request related to a problem? Please describe.**
95% of my queries are only ever on a single index and I've found it a bit difficult/unergonomic to try and search for these when they're not `'static`. Because `SearchParts::Index` takes `&[&str]` you have to wrap the single string like `&[my_str]`, which doesn't work in situation where you return the SearchParts by value, not refe

[2020-10-06 01:53] russcam commented on #64
@jubyvictor It might be good to hold off on this for now. The reference documentation is undergoing a fairly significant overhaul at the moment, so examples are changing quite frequently. If you're still interested once the reference documentation is in a better position, I can give you a ping. I think it'll be a fair amount of work to implement the general solution

1. Read collected JSON example

[2020-10-07 01:19] jubyvictor commented on #64
Aye aye captain !

[2020-10-12 18:54] Jasperav opened #151 "[ENHANCEMENT] sanitize user input"
**Is your feature request related to a problem? Please describe.**
I want to validate user input before sending a query to Elasticsearch

**Describe the solution you'd like**
A query parser, or a parameterized query possibility

**Additional context**
Current my code looks somewhat like this, but I want to escape user input:

[code]

[2020-10-19 17:30] krojew opened #152 "[ENHANCEMENT] Migration to tokio 1.0"
**Is your feature request related to a problem? Please describe.**
Since tokio 0.3 was released, it would be great to migrate, otherwise it's necessary to wrap each future in a compatibility layer.

**Describe the solution you'd like**
Migration to tokio 0.3. Any dependencies can be wrapped in a compatibility layer until they get updated too.

**Describe alternatives you've considered**
tokio-comp

[2020-11-03 21:18] GopherJ opened #153 "[BUG] IndicesPutTemplate has an unnecessary bound B"
**Describe the bug**
A clear and concise description of what the bug is.

https://docs.rs/elasticsearch/7.9.0-alpha.1/src/elasticsearch/generated/namespace_clients/indices.rs.html#6203-6205 has a bound B but it's not necessary and redundant to T in https://docs.rs/elasticsearch/7.9.0-alpha.1/src/elasticsearch/generated/namespace_clients/indices.rs.html#6230

**To Reproduce**
Steps to reproduce the

[2020-11-03 21:19] GopherJ commented on #153
I believe that we will only need one of them

[2020-11-18 05:34] Stargateur commented on #62
I don't even understand how to do a bulk...

[code]

so "_id" is set to "1" (not zero.... anyway I past over non sense now), then "_id" because "id" in the document, why repeat the information twice ? why it's take two line to do one operation ? Then Index is "tweets". so no id or _id ? I don't understand a thing of all of this, the doc is unreadable.

Reading, https://www.elastic.co/fr/blog/what-

[2020-11-18 06:13] russcam commented on #62
@Stargateur In answer to your questions

You can set `"_id"` to whatever string value you want, including `"0"`. You can also pass a numeric value and it'll be coerced to a string value.

`"_id"` is the id for the document and will form part of the document metadata. When you want to retrieve a document by id, this is the id. `"id"` in the document is simply another field in the document. It isn't

[2020-11-18 06:56] Stargateur commented on #62
thank a lot all is way more clear, your answer will help a lot of people I think.

The link I found was the top link to show in my search and looked official, I didn't expect the article was obsolete. that totally my bad.

That said, if I understand this mean the body is not valid json, why make life complicated, just:

[code]

No I'm force to. I didn't wish to work with es if it was my choice I w

[2020-11-18 12:03] russcam commented on #62
Take a look at [tune for indexing speed](https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-indexing-speed.html) for how to size bulk requests.

[2020-11-20 14:25] fteychene commented on #152
I tried to upgrade to tokio 0.3 and updated the code to make it build on a local branch.

The main struggle point on this migration is that we use `hyper` servers during tests runtime and `reqwest` for calling servers.
Theses two libs still doesn't migrated to tokio 0.3 ATM.

Hyper server is failing because wanting to get the current `Handle` with tokio 2 that is not populated with tokio 3 and req

[2020-11-24 16:32] Stargateur opened #154 "[ENHANCEMENT] index and create method argument from BulkOperation"
[`index`](https://docs.rs/elasticsearch/7.10.0-alpha.1/elasticsearch/struct.BulkOperation.html#method.index) is not logic, if I understand correctly, the purpose of index is "create or replace", so why it doesn't take a id argument like create, that is almost equivalent.

Possible fix:

- index and create take an `Into<Option<String>>`
- create should not take an id argument

[2020-11-24 18:22] Stargateur commented on #62
Seem to work quite nicely:

- it's a little strange Bulk*Operation don't directly implement Body
- after 1000 items bulk I didn't see improvement, it was my previous default with rs-es so I guess right the first time
- the doc lines ["Creates a new instance of a bulk index operation"](https://docs.rs/elasticsearch/7.10.0-alpha.1/elasticsearch/struct.BulkOperation.html#method.index) are useless
- I

[2020-12-01 12:32] russcam commented on #154
Hi @Stargateur, the bulk operations model the [bulk API](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html):

- An index operation optionally takes an _id; if the _id is specified then check if a document exists with that _id and if it does, overwrite it and increment the version number, otherwise create it. index operations are frequently used to index documents witho

[2020-12-01 12:58] Stargateur commented on #154
the doc clearly state in create:

it's only required by delete so I maintain what I said

[2020-12-01 13:04] #154 closed

[2020-12-02 03:08] russcam commented on #153
Hi @GopherJ,

`T` and `B` serve different purposes; `T` is a type that implements `Serialize`, whilst `B` is a type that implements `Body`.

`client.indices().put_template()` returns a new instance of `IndicesPutTemplate<'a, 'b, ()>` where `B` is `()`. Then when `body()` is later called, it returns a new instance of `IndicesPutTemplate` where `B` is `JsonBody<T>`.

If the `body` call were constrai

[2020-12-02 03:11] russcam commented on #152
Thanks for the investigation, @fteychene - sounds like we need to wait for the moment. Would be happy to accept a PR for the migration, once it's possible.

[2020-12-08 13:41] russcam commented on #149
Hi @oeed, I think #126 is going in the direction that you're after. Ideally, you'd be able to do

[code]

In its current form this isn't yet possible, the nearest being

[code]

It'd be good to revisit, to see how we might go about this. I think the parts enums will likely end up owning their inputs for this to work.

[2020-12-17 06:30] krojew commented on #97
It would be great to have a tracing-elastic-apmn crate. OTEL implementation is quite janky in tracing at the moment.

[2020-12-30 18:21] krojew commented on #152
reqwest got updated to tokio 1.0. It would be nice to update here, when they publish new crate.

[2021-01-04 10:12] swallez commented on #152
@krojew we need support of Tokio 1.0 in `reqwest`. This [has been merged](https://github.com/seanmonstar/reqwest/pull/1076) but not yet included in a released.

[2021-01-05 19:09] swallez commented on #152
And here it is, [reqwest 0.11.0 was just released](https://github.com/seanmonstar/reqwest/releases/tag/v0.11.0), based on Tokio 1.0. We can work on the migration.

[2021-01-11 10:26] Jasperav commented on #152
Any update on the migration?

[2021-01-12 13:39] kherro opened #157 "[BUG] 8.0.0-alpha.1 does not exist in crates.io registry"
**Describe the bug**
I have `elasticsearch = "8.0.0-alpha.1"` in my `Cargo.toml` file, as described [in the `Installing` section of the README](https://github.com/elastic/elasticsearch-rs#installing). After running `cargo build`, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add `elasticsearch = "8.0.0-alpha.1"` in the `[dependencies]` section of your `Ca

[2021-01-12 14:42] russcam commented on #157
Hey @kherro, thanks for raising 👍

The README.md on the master branch is tracking Elasticsearch master branch, which has commits in for the next major version, 8.0. Versions of the client are released from [7.x](https://github.com/elastic/elasticsearch-rs/tree/7.x) and minor branches such as [7.10](https://github.com/elastic/elasticsearch-rs/tree/7.10) (which are cut from 7.x when 7.10.0 is releas

[2021-01-12 14:42] #157 closed

[2021-01-27 01:16] russcam commented on #153
Closing this as I think I have explained how `T` and `B` are used in the current implementation

[2021-01-27 01:16] #153 closed

[2021-01-27 02:29] #152 closed

[2021-01-27 09:09] russcam commented on #151
Do you have some examples of malicious data that could be inserted into the above?

[2021-02-02 16:15] dodomorandi opened #160 "[ENHANCEMENT] Add support for raw/bytes response"
**Is your feature request related to a problem? Please describe.**
ElasticSearch supports `cbor` format, and it would be useful it given the smaller overhead over json and that in Rust the decoder is available and also a serde Serializer/Deserializer. However, in order to receive and decode `cbor` data, it is necessary to get the raw data from [Response](https://docs.rs/elasticsearch/7.10.1-alpha.

[2021-02-03 20:00] meghashyam6 commented on #137
@rimutaka have you been able to use this crate to connect to AWS ES eventually?

[2021-02-16 23:12] russcam commented on #160
I think this would be a useful addition to the client. Would you be interested in opening a PR for it, @dodomorandi?

[2021-02-17 07:45] laurocaetano commented on #160
@dodomorandi please let me know if you are interested in opening the PR, and in case you are not, I could submit [my patch](https://github.com/elastic/elasticsearch-rs/compare/master...laurocaetano:lc-expose-bytes-to-response) instead.

[2021-02-17 09:37] dodomorandi commented on #160
I will be glad to help if I can. However, in this case I think that the work already done by @laurocaetano is more complete than my _simple_ proposal.
I suggest @laurocaetano to open a PR with his patch, in case the introduced change are contested I can open a PR with only the `bytes` method :relaxed:

[2021-02-22 07:45] laurocaetano opened #167 "[BUG] Failing cert tests on Ubuntu 20.04"
**Describe the bug**

Failing integration tests when running on Ubuntu 20.04. They seem to fail due to connectivity issues:

[code]

I will try to debug the failures, so I can try to understand the real reason it fails. When I have more information, I will update the description in this issue.

**To Reproduce**

Run the test suit with: `$ cargo make test --env TEST_SUITE=platinum`

**Expected beha

[2021-02-23 07:41] #160 closed

[2021-03-23 05:06] russcam commented on #167
Thanks for opening, @laurocaetano. My suspicion is that the test assertions are no longer correct, but haven't had a chance to dig into yet.

[2021-03-27 07:40] laurocaetano commented on #167
Thanks for taking a look @russcam. I believe in ~2/3 weeks from now I can start to take a look at the issue again.

[2021-05-18 00:38] russcam commented on #151
Closing this issue due to inactivity; feel free to re-open to continue discussion 👍

[2021-05-18 00:38] #151 closed

[2021-05-21 00:28] chancecardona opened #173 "[BUG] Builder panics with "incompatible TLS identity type""
**Describe the bug**
I'm not sure if this is a true bug or if I'm merely doing something wrong. When attempting to create a client using the transport builder with some certificate files, I continuously get the error `Cert(reqwest::Error { kind: Builder, source: "incompatible TLS identity type" })`. I've tested these certificates with the exact same server using reqwest directly, which works preci

[2021-05-24 15:12] chancecardona commented on #173
Upon further research it was found that this bug occurred even when using only the Reqwest code above if elasticsearch-rs was a dependency. This is due to native-tls being imported by default with elasticsearch-rs, which causes the conflict. Setting `default-features=false` for the elasticsearch crate fixes this problem. Still though, a more helpful error message would be appreciated.

[2021-05-31 13:35] dodomorandi opened #174 "[ENHANCEMENT] Add methods for `BulkCreateOperation`/`BulkUpdateOperation` without `_id`"
**Is your feature request related to a problem? Please describe.**
As already mentioned in #154, the fact that `_id` is a mandatory field for the `API`, but [since Elasticsearch 7.6](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/docs-bulk.html#bulk-api-request-body) these parameters are not required anymore for `create` and `update` bulk operations. If someone wants to create a new d

[2021-06-07 16:08] krojew opened #175 "[BUG] Build fails on latest nightly"
**Describe the bug**
Build fails on latest nightly:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use rustc 1.54.0-nightly (35fff69d0 2021-06-06)
2. Try to build.

**Expected behavior**
Success.

**Environment (please complete the following information):**
 - OS: Ubuntu
 - rustc version: x86_64-unknown-linux-gnu 1.54.0-nightly (35fff69d0 2021-06-06)

[2021-06-10 13:59] sethmlarson opened #177 "[ENHANCEMENT] Implement the X-Elastic-Client-Meta HTTP header"

[2021-06-15 12:20] tatianafinamor opened #178 "[ENHANCEMENT] Access to exact costs for the current month"
**Is your feature request related to a problem? Please describe.**
The customer would like to have access to the exact amount of charges accrued on the account during the billing cycle.

**Describe the solution you'd like**
If we could give the customers access to billing alerts/ budgeting or cost explored.

**Describe alternatives you've considered**
They currently have access to the Usage page w

[2021-06-16 07:58] swallez commented on #178
@tatianafinamor I think you opened an issue in the wrong repository. This is the Elasticsearch Rust client library, and has nothing to do with billing 😉

[2021-06-16 07:58] #178 closed

[2021-06-17 08:19] lichuan6 opened #179 "[BUG]Compile error when using rust version `1.55.0-nightly`"
**Describe the bug**

Compile error when compiling with `rustc 1.55.0-nightly`.

active toolchain
----------------

nightly-x86_64-apple-darwin (default)
rustc 1.55.0-nightly (607d6b00d 2021-06-15)

[code]

[2021-06-17 14:32] lichuan6 commented on #179
https://github.com/elastic/elasticsearch-rs/issues/175

[2021-06-17 14:32] #179 closed

[2021-06-18 00:51] #175 closed

[2021-07-16 17:31] Stargateur opened #180 "[BUG] ca chain doesn't seen to work"
I follow this to the LETTER https://jamielinux.com/docs/openssl-certificate-authority/introduction.html. I create my root certificate, my intermediate one, and my final one. All work, I have my postgresql server that launch correctly, I can connect to it with pgadmin 4 with `verify-full` using the full chain root certificate `ca-chain.cert.pem` (and I can't without the file) so it's work but:

[co

[2021-07-16 17:35] Stargateur commented on #180
wtf so sorry I totally mix up my tab

[2021-07-16 17:35] #180 closed

[2021-07-26 08:45] xd009642 opened #182 "[ENHANCEMENT]"
**Is your feature request related to a problem? Please describe.**

I need to configure more TLS settings to meet a customers security policy for a private deployment. I use rusoto with the same customer and they expose https://docs.rs/native-tls/0.2.7/native_tls/struct.TlsConnector.html in their public API when native-tls is used and I'm able to configure the connection as required when creating

[2021-07-26 09:00] russcam commented on #182
Hi @xd009642, what other TLS settings need to be configured?

[2021-07-26 09:02] xd009642 commented on #182
So any settings in the builder https://docs.rs/native-tls/0.2.7/native_tls/struct.TlsConnectorBuilder.html disable default certificates is one. I also have another client with private cloud who don't like adding certificates to images so ask us to set `danger_accept_invalid_certs` so I'll need that if we deploy our ES based solution there.

[2021-07-27 17:06] xd009642 commented on #182
I'd also be willing to work on a PR for this, just want to make sure the feature will be accepted in some form or another

[2021-07-28 06:16] russcam commented on #182
It looks like `disable_built_in_roots` might be the only one missing that might be useful to also have:

- identity is handled with [`.auth()`](https://docs.rs/elasticsearch/7.12.1-alpha.1/elasticsearch/http/transport/struct.TransportBuilder.html#method.auth)
- `add_root_certificate()` and `danger_accept_invalid_certs()` and `danger_accept_invalid_hostnames()` are handled with [`cert_validation()`

[2021-07-28 08:52] xd009642 commented on #182
Ah brilliant, I missed those in the docs. I'll have a look at a PR for disable_built_in_roots, I imagine it would be a case of adding a field to the `CertificationValidation` enum as that seems to handle a few things :thinking:

[2021-08-11 01:21] PeterGrace opened #183 "[BUG] When accessing response via json, null value thwarts deserialization"
**Describe the bug**
A call to `response.json().await` fails with error: `error decoding response body: invalid type: null, expected any valid TOML value at line 1 column 161`.  Upon further inspection, the null value is the response for `max_score`, I assume because I'm not actually executing a search that returns values, just an aggregation of data from the search.

data returned in the query (g

[2021-08-11 02:24] russcam commented on #183
Thanks for opening @PeterGrace.

I've created a test for this in https://github.com/elastic/elasticsearch-rs/tree/bug/183, which passes OK. Based on the error message

Is it possible that the`Value` type in the response is a [`toml::value::Value`](https://docs.rs/toml/0.4.10/toml/value/enum.Value.html) and not a [`serde_json::value::Value`](https://docs.serde.rs/serde_json/value/enum.Value.html)?

[2021-08-11 02:36] russcam commented on #173
Thanks for opening @chancecardona. Would need to investigate to see if there's a more informative error message that can be provided.

[2021-08-11 13:18] PeterGrace commented on #183
Well that's embarrassing!  I must have hit the wrong option when I was importing in CLion and accidentally imported the toml Value instead.  I was wondering why TOML would even be involved.  Sorry for the noise, I'll close this one out.

[2021-08-11 13:18] #183 closed

[2021-10-09 07:38] raybog opened #186 "[ENHANCEMENT] - ability to change credentials (type) for existing client"
**Is your feature request related to a problem? Please describe.**
Credentials are static and set when connection/client to ES is created.

**Describe the solution you'd like**
It should be possible to change the Credentials on each API call e.g.:
`some_connection.transport().setCredentials(Credentials::Bearer(some_token)).get(GetParts::IndexId(&INDEX, &id)).pretty(true).send().await?`

**Describe

[2021-11-13 03:53] raybog opened #187 "[ENHANCEMENT]"
**Is your feature request related to a problem? Please describe.**
When an error is returned by ES there is no straightforward way to get the content of the body.
In many cases only the message in the body explains the reasons of the problem/error.

**Describe the solution you'd like**
Ideally elasticsearch::Error struct should have some way to access the response body if there is one.

[2021-11-16 04:51] russcam commented on #174
Hi @dodomorandi,

Firstly, apologies that it's taken some time to respond to you.

Updating the `BulkCreateOperation` struct to not require an id, and to make it an optional value that can be set via an associated function, similar to `BulkIndexOperation` makes sense, especially now that data stream usage is popular. So

https://github.com/elastic/elasticsearch-rs/blob/d52932e7b31346e2e6048c8c926b

[2021-11-20 14:30] dodomorandi commented on #174
Thank you @russcam for your reply!
I would be glad to submit a PR, you already proposed a nice implementation.
Just to be sure: is it ok to make a breaking change with the signature of `create`? I know that the project is using the `-alpha` suffix, but I am asking anyway before submitting the PR. :relaxed:

[2021-11-24 13:07] mfelsche opened #190 "[BUG] BulkCreateOperation requires `_id` field, although it is optional"
**Describe the bug**
Both the [`BulkOperation::create`](https://github.com/elastic/elasticsearch-rs/blob/master/elasticsearch/src/root/bulk.rs#L165) as well as [`BulkCreateOperation::new`](https://github.com/elastic/elasticsearch-rs/blob/master/elasticsearch/src/root/bulk.rs#L220) require an `_id` argument, although this is optional according to the docs in https://www.elastic.co/guide/en/elastics

[2021-12-07 12:47] russcam commented on #174
I think a breaking change in this instance is ok; the API for bulk create will not need an id going forward 👍

[2021-12-07 12:48] russcam commented on #190
Hi @mfelsche, this is the same issue as #174; I'm going to close to consolidate on that issue.

[2021-12-07 12:48] #190 closed

[2021-12-07 12:50] mfelsche commented on #190
Thank you! I honestly didn't find #174 when i filed this one, my bad.

[2022-02-06 21:47] oeed opened #195 "[ENHANCEMENT] Support clone for BulkOperation and similar structs"
**Is your feature request related to a problem? Please describe.**
I am needing to implement retry logic for my requests as we're very occasionally encountering 502s on AWS. For most requests this can be done fairly easily, as `.body()` can take a borrowed value.

However, `Bulk` requests require taking ownership of the `Vec<BulkOperation<..>>`, and additionally `BulkOperation` doesn't implement c

[2022-02-20 20:56] Jasperav opened #196 "[ENHANCEMENT] Passing parameters to query"
As stated here: https://www.elastic.co/guide/en/elasticsearch/reference/master/sql-rest-params.html

[2022-03-29 20:45] ppearson opened #197 "[BUG] The send() method of Search always uses a POST request if the search has a body"
From looking at the code, for search, the Rust client seems to assume that if there's a body (i.e. a query for a search), then the POST method should be used:

`let method = match self.body {
       Some(_) => Method::Post,
       None => Method::Get,
 };`

However, ElasticSearch has long allowed GET methods with bodies:
https://www.elastic.co/guide/en/elasticsearch/guide/current/_empty_search.htm

[2022-04-06 15:29] sethmlarson commented on #197
Thanks for opening this issue. This is standard behavior across all Elasticsearch clients to decide the HTTP method based on whether there is a provided body or not. We test every client against Elasticsearch and haven't observed the issue you're experiencing with credential-less access and GET.

If you'd like more control over the HTTP method used for requests you can use the underlying HTTP libr

[2022-04-06 15:29] #197 closed

[2022-04-10 22:26] vertexclique opened #199 "[BUG] Make tokio optional or provide a trait for implementing AsyncRuntimes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. Windows 10 Pro]
 - rustc ve

[2022-08-26 13:48] russcam commented on #196
Hey @Jasperav, it's already possible to do this

[code]

[2022-09-30 07:22] duguying opened #207 "[BUG] there is no reactor running, must be called from the context of a Tokio 1.x runtime"
**Describe the bug**
running elasticsearch-rs with block_on failure.

**To Reproduce**
Steps to reproduce the behavior:

**source as follow**

Cargo.toml
[code]
main.rs
[code]
running failure
[code]

env

[code]

[2022-09-30 09:26] duguying commented on #207
use `#[tokio::main]` for calling `async` function.

[2022-09-30 09:26] #207 closed

[2022-10-11 16:41] fbs opened #208 "[ENHANCEMENT] `search_after` missing from search API"
`search_after` is the recommended way of doing pagination [doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/paginate-search-results.html) but it appears to be missing from the API.

[2022-10-13 02:00] WingZer0123 commented on #37
@russcam C# guy here, seemed like something good to pick up as I want to expand my Rust skills.

So, if there is only one node running Elasticsearch no retry should be attempted with a 502, 503, or 504?
Has the ConnectionPool implementations that you are speaking of been implemented?

[2022-10-18 12:18] fbs commented on #208
guess I can just put this in the body 🙈

[2022-10-18 12:18] #208 closed

[2022-11-27 06:57] russcam commented on #37
Hi @WingZer0o,

That's correct. The multi node connection pool is in PR https://github.com/elastic/elasticsearch-rs/pull/189, which remains to be reviewed.

Since I no longer work at Elastic, I no longer have commit rights to this repository, so am unable to merge PRs. @swallez may be able to advise on the best course of action.